.navbar-brand{
    color: #4A4A4A;
    font-size: 40px;
    font-weight: 600;
}
.banner-head{
    color:  #FFFFFF;
    font-size: 65px;
    font-weight: 600;
}
@media only screen and (max-width:768px) {
    .course-banner img{
        width:100%;
    }
    .register-info{
        flex-direction: column;
    }
    
}
